.start-container{
    min-height:705px;
    text-align: center;
}
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}
.start-content{
    background-color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    width:80%;
    min-height: 400px;
    margin:auto;
    margin-top:120px;
}

.start-inside{
    padding-top: 90px;
    width: 75%;
    margin: auto;
}

.txt-forgot{
    width:100%;
    color:#323232;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: auto;
}

.button-container{
    width:90%;
    margin:auto;
}

.button-container a{
    text-align: center;
    margin:auto;
    color:#323232;
    text-decoration: none;
}

.button-login{
    margin: auto;
    height: 30px;
    width:150px;
    text-align: right;
    line-height: 30px;
    font-weight: 500;
    font-size: 13px;
}

.button-forgot{
    margin: auto;
    background: #0d71ab;
    border-radius: 5px;
    color:white;
    height: 30px;
    width:100%;
    text-align: center;
    line-height: 30px;
}

