<div class="start-container start-alignment">
    <div class="repertuar-container">  
       
        <div class="sarkisozu-menu">
            <ul>
                <li>
                    <a [routerLink]="['/repertuar/mysongs/bilgi']">
                        <i class="material-icons">highlight_off</i>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/repertuar/mysongs/repertuar_duzenle']">
                        <i class="material-icons">done</i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="sarkisozu-container">
           
        </div>


    </div>

</div>