.start-container{
    position: relative;
    height: auto;    
    min-height: 100vh;
    text-align: center;
    background-color: #bfc6d0;
    overflow: hidden;
}
@media screen and (height:736px) { .start-container{ height:624px;} }
@media screen and (height:640px) { .start-container{ height:calc(640px - 112px);} }
@media screen and (height:732px) { .start-container{ height:630px;} }
@media screen and (height:568px) { .start-container{ height:calc(568px - 112px);} }
@media screen and (height:667px) { .start-container{ height:calc(667px - 112px);} }
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}

.repertuar-container{
    width:100%;
    height: auto;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.repertuar-container a{
    width:100%;
    height: 165px;
}

.list-search{
    background-color:  #eae8e7;
    width: 100%;
    height: 50px;    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.list-search form{
    width:90%;
    height: 30px;    
    margin:auto;
    padding-top: 10px;
}

.list-search input:first-child{
    width:60%;
    height: 30px; 
    font-size: 14px;
    border-radius: 5px;  
    float: left;  
    border: none;
    padding-left: 5px;
}

.list-search #btn-filter, .list-search #btn-search{
    width:15%;
    height: 30px; 
    font-size: 14px;
    border-radius: 5px;  
    float: left;
    margin-left: 5%;  
    border: none;
    background-color: #cdcdcd;
}

#btn-filter{
    float: right;
}

.list-list-container{
    position: relative;
    background-color:  #eae8e7;
    width: 100%;
    height: 50px;    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    margin-top:10px;
}

.repertuar-img{
    float:left;
    width:auto;
    height:50px;
    margin-left: 10px;
}

.repertuar-img img{
    width:inherit;
    height: inherit;
}

.list-label{
    float: left;
    width: 60%;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}

.list-label .repertuar-name{
    color:#47747F;
    font-size: 14px;
    font-weight: bold;
}

.list-label .repertuar-description{
    color:#47747F;
    font-size: 12px;
}

.list-process{
    float:left;
    position: absolute;
    right:20px;
    top:5px;
}

.list-process a{
    color:#cdcdcd;
    font-size: 25px;
}

.list-process a .material-icons{
    font-size: 40px;
}