<div class="start-container start-alignment">
    <div class="repertuar-container">
        <div class="song-search">
            <form>
                <input type="text" placeholder="Sanatçı/Şarkı Ara..." />
                <input type="submit" value="Ara" id="btn-search" />
                <input type="submit" value="Filtrele" id="btn-filter" />
            </form>
        </div>
        <div class="repertuarbilgi-menu">
            <ul>
                <li>
                    <a [routerLink]="['/repertuar/mysongs/sarki_ekle']">
                        <i class="material-icons">create</i>
                        <div>Ekle</div>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/repertuar/mysongs/repertuar_duzenle']">
                        <i class="material-icons">content_cut</i>
                        <div>Düzenle</div>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <div class="repertuarbilgi-container" *ngFor='let repertuarcontent of this.repertuarcontent'>
                <div class="song-number">
                    <div>{{repertuarcontent.music_number}}</div>
                </div>
                <div class="song-label">
                    <div class="artist-name">{{repertuarcontent.artist_name}}</div>
                    <div class="song-name">{{repertuarcontent.song_name}}</div>
                </div>
                <div class="song-process">
                    <a [routerLink]="['/repertuar/mysongs/bilgi/sarki_sozu']">
                        <div class="song-lyric"><img src="/src/assets/images/ok-lyric.png" /></div>
                    </a>
                    <a [routerLink]="['/repertuar/mysongs/bilgi/akor']">
                        <div class="song-acor"><img src="/src/assets/images/ok-acor.png" /></div>
                    </a>
                    <a [routerLink]="['/repertuar/mysongs/bilgi/nota']">
                        <div class="song-note"><img src="/src/assets/images/ok-note.png" /></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>