.start-container{
    position: relative;
    height: auto;
    width:100%;
    text-align: center;
    background-color:rgba(191, 198, 208, 0.7);
    overflow: hidden;    
    padding-bottom: 10px;
}
@media screen and (height:736px) { .start-container{ height:624px;} }
@media screen and (height:640px) { .start-container{ height:calc(640px - 112px);} }
@media screen and (height:732px) { .start-container{ height:630px;} }
@media screen and (height:568px) { .start-container{ height:calc(568px - 112px);} }
@media screen and (height:667px) { .start-container{ height:calc(667px - 112px);} }
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}

.repertuarekle-container{
    width:95%;
    height: auto;
    background-color:rgba(255,255,255,1);
    color:#2b3f60;
    margin:auto;
    margin-top: 0px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(48,48,48,0.37);
    -moz-box-shadow: 0px 0px 3px 1px rgba(48,48,48,0.37);
    box-shadow: 0px 0px 3px 1px rgba(48,48,48,0.37);
}
.repertuarekle-title{
    padding:10px;
    font-weight: bold;
    width:60%;
    margin:auto;
    border-bottom: 1px solid #b3acc9
}

#form {
  position: relative;
  width: 100%;;
  padding: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #2b3f60;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  color: #2b3f60;
}

textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #2b3f60;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  color: #2b3f60;
}

#submit {
  width: 100%;
  
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #cbc6c1;
  background-color: #0d71ab;
}


#form-section {
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.form-labels {
	display: inline-block;
	text-align: right;
	width: 100%;
	padding: 12px 0px 0px 6px;
	vertical-align: top;
	margin: 5px 0px 0px 5px;
}

.form-inputs {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	width: 90%;
    margin:auto;
	margin: 10px;
}

.input-box {
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	width: 100%;
	height: 30px;
	font-size: 12px;
	padding: 0 0 0 5px;
}

.dropdown {
	width: 100%;
	height: 35px;
	border-radius: 5px;
	border: 1px solid #c0c0c0;
	font-size: 12px;
	padding: 5px;
    background: transparent;
}

.dropdown{
	color:#c0c0c0;
}

#improve-list {
	margin: 15px 0;
}

ul {
	list-style: none;
}

li {
	position: relative;
	margin: 0 0 20px 0;
	left: px;
}

#improved-title {
    width: 100%;
    padding-left: 30px;
    text-align: left;
}

#submit {
  background-color: #0d71ab;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

.checkbox {
  position: relative;
  left: -45px;
  margin-left: 10px;
}

.add-radio{
    list-style: none;
    padding:0px;
    margin:0px;
}

.add-radio li{
    float:left;
    width:33.3%;
    text-align: center;
}

.add-radio li input{
    width:20px;
    height: 20px;
}
