<div class="start-container start-alignment">
    <div class="sarkiekle-container">
        <md-input-container>
            <input mdInput placeholder="Sanatçı adı giriniz" value="">
        </md-input-container>
        <br/>
        <md-input-container>
            <input mdInput placeholder="Şarkı adı giriniz" value="">
        </md-input-container>
        <br/>
            <input mdInput/>
            <label style="text-align: left;">Müzik türü seçiniz</label>
            <md-select multiple>
                <md-option>Rock</md-option>
                <md-option>Pop</md-option>
                <md-option>Blues</md-option>
                <md-option>Jazz</md-option>
                <md-option>Klasik</md-option>
            </md-select>
        <br/>
      
            <input mdInput/>
            <label>Repertuar seçiniz</label>
            <md-select multiple>
                <md-option>Repertuar Adı</md-option>
                <md-option>Repertuar Adı</md-option>
                <md-option>Repertuar Adı</md-option>
            </md-select>
        
        <br/>
        <br/>
        Ne ekleyeceksiniz?
        <br/>
        <br/>
        <md-checkbox class="md-primary">Şarkı Sözü</md-checkbox>
        <md-checkbox class="md-primary">Akor</md-checkbox>
        <md-checkbox class="md-primary">Nota</md-checkbox>
        <br/>
         <mdInput-container class="md-block">
            
          <label>Şarkı Sözü(Seçime göre dinamik)</label>
          <br/>
          <textarea md-maxlength="550" rows="8" md-select-on-focus=""></textarea>
        </mdInput-container>
        <br/>
        <div class="sarkiekle-buttons-container">
            <a [routerLink]="['']" class="lnk-login">
                <div class="button-login">
                    Kaydet
                </div>
            </a>
        </div>
    </div>
</div>