.start-container{
    position: relative;
    height: auto;
    text-align: center;
    background-color: #bfc6d0;
    overflow: hidden;
}
@media screen and (height:736px) { .start-container{ height:624px;} }
@media screen and (height:640px) { .start-container{ height:calc(640px - 112px);} }
@media screen and (height:732px) { .start-container{ height:630px;} }
@media screen and (height:568px) { .start-container{ height:calc(568px - 112px);} }
@media screen and (height:667px) { .start-container{ height:calc(667px - 112px);} }
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}

.sarkiekle-container{
    width:85%;
    height: auto;
    background-color:rgba(255,255,255,0.8);
    color:#2b3f60;
    margin:auto;
    margin-top: 10px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(48,48,48,0.37);
    -moz-box-shadow: 0px 0px 3px 1px rgba(48,48,48,0.37);
    box-shadow: 0px 0px 3px 1px rgba(48,48,48,0.37);
}

md-input-container{
    margin-top:15px;
    width:80%;
}
md-select{
    width:80%;
}

.sarkiekle-buttons-container{
    width:70%;
    height: 40px;
    margin:auto;
    position: relative;
}

.sarkiekle-container a{
    position: absolute;
    color:white;
    text-decoration: none;
    right: 0px;
}
.cbx-location, .lnk-login{
    float: left;
}

.button-login{
    margin: auto;
    background: #2b3f60;
    border-radius: 5px;
    color:white;
    height: 30px;
    width:80px;
    text-align: center;
    line-height: 30px;
}
