<div class="start-container start-alignment">
    <div class="sarkiekle-container">
        <form id="form" class="topBefore">

            <input id="name" type="text" placeholder="SANATÇI ADI">
            <input id="email" type="text" placeholder="ŞARKI ADI">


            <div class="dropdown">
                <span class="selLabel">MÜZİK TÜRÜ SEÇİNİZ</span>
                <input type="hidden" name="cd-dropdown">
                <ul class="dropdown-list">
                    <li data-value="1">
                        <span>ROCK</span>
                    </li>
                    <li data-value="2">
                        <span>BLUES</span>
                    </li>
                    <li data-value="3">
                        <span>POP</span>
                    </li>
                    <li data-value="4">
                        <span>KLASİK</span>
                    </li>
                </ul>
            </div>

            
            <textarea id="message" type="text" placeholder="ŞARKI SÖZÜ(DEĞİŞKEN)"></textarea>
            <input id="submit" type="submit" value="GO!">

        </form>
    </div>
</div>