<div class="start-container start-alignment">
  <div class="repertuar-container">
    <div class="song-search">
      <form>
        <input type="text" placeholder="Sanatçı/Şarkı Ara..."/>
        <input type="submit" value="Ara" id="btn-search"/>   
        <input type="submit" value="Filtrele" id="btn-filter"/>    
      </form>
      
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/rm-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/rm-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/rm-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/rm-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/rm-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>

    <div class="song-list-container">
      <div class="song-label">
        <div class="artist-name">SANATÇI</div>
        <div class="song-name">Şarkı Adı</div>
      </div>
      <div class="song-process">
        <div class="song-lyric"><img src="/src/assets/images/add-lyric.png"/></div>
        <div class="song-acor"><img src="/src/assets/images/add-acor.png"/></div>
        <div class="song-note"><img src="/src/assets/images/add-note.png"/></div>
      </div>
    </div>
  
  </div>

</div>