<img src="/../assets/images/bg_part.jpg" style="background-repeat: repeat-y;width: 100%;height: 100%;position: absolute;z-index: -1; background-size: 100%;"
/>
<div class="start-container start-alignment">

    <div class="start-content">
        <img src=".\src\assets\images\logo2.png" style="width:40%;height: auto;margin:Auto;margin-top:20px;">
        <div class="start-inside">
            <form action="#">
                <div class="form-input-groups">
                    <div class="form-inputs">
                        <input class="input-box" type="text" id="name" name="name" placeholder="Adınızı ve soyadınızı giriniz" required>
                    </div>
                </div>
                <div class="form-input-groups">
                    <div class="form-inputs">
                        <input class="input-box" type="email" id="email" name="email" placeholder="E-posta adresinizi giriniz" required>
                    </div>
                </div>
                <div class="form-input-groups">
                    <div class="form-inputs">
                        <input class="input-box" type="password" id="password" name="password" placeholder="Şifrenizi giriniz" required>
                    </div>
                </div>
                <div class="form-input-groups">
                    <div class="form-inputs">
                        <input class="input-box" type="password" id="password" name="password" placeholder="Şifrenizi tekrar giriniz" required>
                    </div>
                </div>
                <div class="form-input-groups">
                    <div class="form-inputs">
                        <select id="sex" name="sex" class="dropdown">
						<option disabled value>Cinsiyetinizi Seçiniz</option>
						<option value="kadin">Kadın</option>
						<option value="erkek">Erkek</option>
					</select>
                    </div>                   
                </div>
                <button id="submit" type="submit">ÜYE OL</button>
            </form>
        </div>
    </div>
</div>