<div class="start-container start-alignment">
    <div class="repertuar-container">
        <div class="song-search">
            <form>
                <input type="text" placeholder="Sanatçı/Şarkı Ara..." />
                <input type="submit" value="Ara" id="btn-search" />
                <input type="submit" value="Filtrele" id="btn-filter" />
            </form>
        </div>

        <div class="repertuarbilgi-menu">
            <ul>
                <li>
                    <a [routerLink]="['/repertuar/mysongs/bilgi']">
                        <i class="material-icons">highlight_off</i>
                    </a>
                </li>

                <li>
                    <a [routerLink]="['/repertuar/mysongs/repertuar_duzenle']">
                        <i class="material-icons">done</i>
                    </a>
                </li>
            </ul>

        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="1" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="2" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="3" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="4" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="5" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="6" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="7" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="8" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>

        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="9" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>
        <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="10" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>
         <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="11" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>
         <div class="repertuarbilgi-container">
            <div class="song-number">
                <input type="text" placeholder="12" />
            </div>
            <div class="song-label">
                <div class="artist-name">SANATÇI</div>
                <div class="song-name">Şarkı Adı</div>
            </div>
            <div class="song-process">
                <div class="song-lyric"><img src="/src/assets/images/no-lyric.png" /></div>
                <div class="song-acor"><img src="/src/assets/images/no-acor.png" /></div>
                <div class="song-note"><img src="/src/assets/images/no-note.png" /></div>
            </div>
        </div>
    </div>

</div>