.start-container{
    position: relative;
    height: auto;
    text-align: center;
    background-color: #bfc6d0;
    overflow: hidden;
}
@media screen and (height:736px) { .start-container{ height:624px;} }
@media screen and (height:640px) { .start-container{ height:calc(640px - 112px);} }
@media screen and (height:732px) { .start-container{ height:630px;} }
@media screen and (height:568px) { .start-container{ height:calc(568px - 112px);} }
@media screen and (height:667px) { .start-container{ height:calc(667px - 112px);} }
.start-alignment{
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-top: 2px;
}

.repertuar-container{
    width:100%;
    height: auto;
    float: left;
    position: relative;
    margin-bottom: 10px;
}

.repertuar-container a{
    width:100%;
    height: 165px;
}

.song-search{
    background-color:  #eae8e7;
    width: 100%;
    height: 50px;    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
}

.song-search form{
    width:90%;
    height: 30px;    
    margin:auto;
    padding-top: 10px;
}

.song-search input:first-child{
    width:60%;
    height: 30px; 
    font-size: 14px;
    border-radius: 5px;  
    float: left;  
    border: none;
    padding-left: 5px;
}

.song-search #btn-filter, .song-search #btn-search{
    width:15%;
    height: 30px; 
    font-size: 14px;
    border-radius: 5px;  
    float: left;
    margin-left: 5%;  
    border: none;
    background-color: #cdcdcd;
}

#btn-filter{
    float: right;
}

.repertuarbilgi-menu{ 
    height: 27px;
    margin-top:1px;
}

.repertuarbilgi-menu ul{ 
    list-style: none;
    width:160px;
    height: 27px;
    padding-left: 0px;
    margin:0px;
    float:right;
    background-color: #eae8e7;
}

.repertuarbilgi-menu ul li{ 
    width:50%;
    float:left;
}

.repertuarbilgi-menu ul li a {
    text-decoration: none;    
    font-size: 10px;
    float:left;
    height: 24px;
    margin-top:3px;
}

.repertuarbilgi-menu ul li:first-child a{
    color:#660b0b;
}

.repertuarbilgi-menu ul li:last-child a {
    color:#0d71ab;
}

.repertuarbilgi-menu ul li a:hover {
    color:#ffffff;
}

.repertuarbilgi-menu ul li a:focus {
    color:#ffffff;
}

.repertuarbilgi-menu ul li a:active {
    color:#ffffff;

}

.repertuarbilgi-menu .material-icons{
    font-size: 22px;
}

.repertuarbilgi-container{
    position: relative;
    background-color:  #eae8e7;
    width: 100%;
    height: 50px;    
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
    margin-top:0px;
}

.song-number{
    width:20px;
    height: 20px;
    margin-top: 15px;
    margin-left:10px;
    float:left;
}

.song-number input{
    width:25px;
    height: 20px;
}

.song-label{
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}

.song-label .artist-name{
    color:#47747F;
    font-size: 14px;
    font-weight: bold;
}

.song-label .song-name{
    color:#47747F;
    font-size: 12px;
}

.song-process{
    float:left;
    position: absolute;
    right:20px;
    top:10px;
}

.song-process .song-lyric{
    float:left;
    height: 30px;
    width:auto;
    margin-left: 20px;
}

.song-process .song-acor{
    float:left;
    height: 30px;
    width:auto;
    margin-left: 20px;
}

.song-process .song-note{
    float:left;
    height: 30px;
    width:auto;
    margin-left: 20px;
}

.song-process img{
    height:100%; 
}


.photo-container{
    width:30%;
    height: 165px;
    float: left;    
    margin-left:5%;
}

.photo-container img{
    border-radius:110px;
    width:110px;
    height: 110px;
    margin:auto;
    margin-top: 20px;
    border:5px solid #2b3f60;
    float: left;
}

.repertuar-info{
    float: left;
    margin-top: 35px; 
    width:50%;
    height: 165px;
    margin-left:15%;
}

.txt-name{
    width:100%;
    text-align: left;
    font-size: 18px;
    color: #2b3f60;
    font-weight: bold;    
    line-height: 25px;
    text-decoration: underline;
}

.txt-besin{
    width:100%;
    text-align: left;
    color: #015301;
    font-size: 12px;
    line-height: 17px;
}

.txt-saglik{
    width:100%;
    text-align: left;
    color: #660b0b;
    font-size: 12px;
    line-height: 17px;
}

.txt-lokasyon{
    width:100%;
    text-align: left;
    color: #270153;
    font-size: 12px;
    line-height: 17px;
}

.baslik{
    width:100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color:#2b3f60;
    margin-top: 10px;
}

.baslik-volunteer{
    width:100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    color:#ffffff;
}

.repertuar-situation-container{
    width:85%;
    height: 120px;
    margin:Auto;
    margin-top:10px;
    margin-bottom:0px;
    background-color:#2b3f60;
}

.repertuar-situation{
    width:50%;
    float: left;
    height: 60px;
    line-height: 60px;
    border:1px solid #ffffff;
    text-align: center;
    color:#ffffff;
}

.repertuar-situation:nth-child(3){
    background-color: #660b0b;
}

.repertuar-situation:nth-child(2){
    background-color: #015301;
}

.repertuar-situation:nth-child(1){
    background-color: #2b3f60;
}

.repertuar-situation:nth-child(4){
    background-color: #270153;
}

.location-volunteer-container{
    width:100%;
    height: 130px;
    margin-top: 10px;
    background-color: #2b3f60;
    border-bottom:2px solid #ffffff;
}

.location-volunteer{
    width:50%;
    height: 100px;
    float: left;
}

.location-volunteer img{
    width:40px;
    height: 40px;
    float: left;
    padding: 2px;
}